.itemDetail:not(:last-child) {
    border-bottom: 1px solid #e3e2e2;
}

.itemDetail {
    margin: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    > .itemLeft {
        display: flex;
        align-items: center;

        > .listItemImage {
            width: 78px;
            height: 78px;
            border: 1px solid #e3e2e2;
            margin-right: 14px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        > .listItemContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .productNameLink{
                text-decoration: none;
                color: #000;
            }
             .productName {
                font-weight: 600;
                font-size: 1.5rem;
                margin-bottom: 8px;
            }
            .productName:hover{
                color: #0f9d8a;
            }
            > .productDescription {
                font-size: 1.1rem;
                color: #828282;
                display: block;
                margin-bottom: 12px;
            }

            .boxChangeQuantity {
                display: flex;
                align-items: flex-end;
                > .changeQuantity {
                    border: 1px solid #ccc;
                    overflow: hidden;
                    border-radius: 50px;
                    > .controlQuantity {
                        border: none;
                        background-color: #fff;
                        width: 20px;
                        padding: 0;
                    }
                    > .controlQuantity:hover {
                        background-color: #f2f2f2;
                    }
                    input {
                        font-size: 1.3rem;
                        border: 1px solid #ccc;
                        outline: none;
                        border-top: none;
                        border-bottom: none;
                        width: 25px;
                        height: 20px;
                        text-align: center;
                    }
                }
                > span {
                    margin-left: 8px;
                    font-size: 1.3rem;
                }
            }
        }
    }
    > .itemRight {
        height: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        > span {
            display: block;
            text-align: right;
        }
        > span:first-child {
            margin-bottom: 36px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
        }
        > span:first-child:hover {
            background-color: #f2f2f2;
        }
        > span:last-child {
            font-weight: 500;
        }
    }
}
.itemDetail:first-child {
    padding-top: 0;
}
.itemDetail:last-child {
    padding-bottom: 0;
}

@media (max-width: 575.98px) {
    > .itemDetail {
        margin: 0 20px;
        > .itemLeft {
            > .listItemImage {
                width: 65px;
                height: 65px;
            }
        }
    }
}