.customTabTitle{
    font-size: 2rem;
    margin-bottom: 20px;
}
.customTabContent{
    font-size: 1.4rem;
    color: #333;
    a{
        margin: 0 4px;
        color: #333;
    }
}
.customerTabBody{
    margin-top: 20px;
    align-items: center;
}
.customTabTitleDetail{
    margin-bottom: 16px;
}
.customTabContentDetail{
    font-size: 1.4rem;
    margin-bottom: 22px;
}
.customTabLink{
    color: #000;
    font: 500;
    font-size: 1.4rem;
}
.customerTabBody img{
    width: 100%;
}