*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  padding-bottom: 100px;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
p{
  margin-bottom: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}


.react-tooltip{
  font-size: 1.2rem !important;
  padding: 3px 7px !important;
  border-radius: 6px !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.slick-arrow {
	z-index: 1;
	
  background-color: transparent;
}

.slick-arrow:before {
	font-size: 50px;
  color: #ccc !important;
  width: 40px !important;
  height: 40px !important;

}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}
.col-2-4 {
  width: 20%;
}

@media (max-width: 991.98px) {
  .col-2-4 {
    width: 50%;
  }
  
}

@media (max-width: 575.98px)  {
  .col-2-4 {
    width: 100%;
  }
  
}



@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideLeftStore {
  from {
    transform: translate(-32px, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
  }
}
@keyframes slideRightStore{
  from {
    transform: translate(32px, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
  }

}

.slick-active .boxContentStoreLeft {
  animation: slideLeftStore 0.5s ease-in-out 1s forwards;
}
.slick-active .boxContentStoreRight {
  animation: slideRightStore 0.5s ease-in-out 1s forwards;
} 

.boxContentStoreLeft{
  opacity: 0;
  transform: translate(-32px, -50%);
}
.boxContentStoreRight{
  opacity: 0;
  transform: translate(32px, -50%);
}