.modal.unactive{
    visibility: hidden;
    opacity: 0;

}
.modal{
    visibility: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.4s;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    cursor: pointer;
}
.modalBox.active{
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}
.modalBox{
    opacity: 0.1;
    visibility: hidden;
    transition: 0.4s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: #fff;
    z-index: 10;
    width: 500px;
    border-radius: 6px;
    text-align: center;
    >.modalHeader{
        position: relative;
        padding: 16px 0;
        border-bottom: 1px solid #dddddd;
        >.modalLogo{
            
        }
        >.btnCloseModal{
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right: 20px;
            i{
                font-size: 1.8rem;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: #e5e4e4;
                }
            }

        }
    }
    >.modalBody{
        margin: 0 15%;
        >h3{
            margin: 25px 0;
            font-size: 2rem;
        }
        >.labelUsername{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4px;
            >label{
                font-weight: 500;
                color: #333;
                span{
                    margin-left: 4px;
                    color: rgb(253, 32, 32);
                    font-size: 1.6rem;
                }
            }
            >.rememberPassword{
                display: flex;
                align-content: center;
                input{
                    margin-right: 4px;
                }
            }
        }
        >.inputForm{
            display: block;
            outline: none;
            width: 100%;
            border: 1px solid #dedede;
            padding: 10px 6px;
            border-radius: 4px;
            margin-bottom: 20px;
        }
        >.labelPassword{
            display: flex;
            justify-content: space-between;
            >label{
                >span{
                    margin-left: 4px;
                    color: rgb(253, 32, 32);
                    font-size: 1.6rem;
                }
            }
            >.lostPassword{
                >.linkLostPassword{
                    text-decoration: none;
                    color: #666;
                    font-size: 1.4rem;
                    &:hover{
                        color: #0f9d8a;
                        text-decoration: underline;
                    }
                }

            }
        }
        >button{
            width: 100%;
            background-color: #0f9d8a;
            border: none;
            border-radius: 4px;
            color: #fff;
            padding: 12px 0;
            font-weight: 500;
            letter-spacing: 1.8px;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
        >.contentLogin{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            &::before{
                z-index: 15;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "";
                position: absolute;
                width: 80%;
                height: 1px;
                background-color: #a1a1a1;
            }
            >h4{
                color: #666;
                font-weight: 400;
                position: relative;
                z-index: 20;
                background-color: #fff;
                text-align: center;
                display: inline-block;
                padding: 0 24px;
            }
        }
        >.linkWithSocial{
            display: flex;
            justify-content: space-between;
            >.itemSocial{
                border: 1px solid #ccc;
                border-radius: 4px;
                text-decoration: none;
                color: #333;
                padding: 6px 32px;
                display: flex;
                align-items: center;
                
                i, svg{
                    font-size: 2.2rem;
                    margin-right: 12px;
                }
                &:hover{
                    background-color: #f2f2f2;
                }
            }
        }
        h6{
            margin-top: 24px;
            font-size: 1.4rem;
            color: #555;
            font-weight: 400;
            >.createAccount{
                color: #0f9d8a;
                margin-left: 6px;
                font-size: 1.4rem;

            }
            margin-bottom: 42px;
        }
    }
}

@media (max-width: 991.98px) {

}


@media (max-width: 575.98px) {
    .modalBox{
        max-width: 90%;
        .modalBody{
            margin: 0;
            padding: 0 18px;
        }
    }
}